.home-info {
  margin-bottom: 1.125rem;

  &__banner {
    position: relative;
    width: 100%;
    height: 295px;
    border-radius: 1rem;
    overflow: hidden;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.2;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 100% 70%;
      pointer-events: none;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    margin: 0;
    line-height: 100%;
    text-align: center;
    z-index: 1;
  }

  &__logo {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 3;
    opacity: 0.5;

    &-image {
      width: 120px;
      height: auto;
    }
  }
}

@media (max-width: 991.98px) {
  .home-info {
    &__banner {
      min-height: 300px;
    }

    &__title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 575.98px) {
  .home-info {
    &__title {
      font-size: 1.5rem;
    }
  }
}
