* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: var(--background-primary);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: calc(1200px + 2rem);
  margin: 0 auto;
  padding: 0 1rem;
}

.app-main {
  background-color: var(--background-primary);
}
