:root {
  --primary: #123c82;
  --secondary: #28483b;

  --text-primary: #0b1e40;
  --text-primary-light: #1f2937;
  --text-secondary: #1f2937;
  --text-tertiary: #6b7280;

  --text-dark: #1e1e1e;
  --text-light: #ffffff;

  --background-primary: #f7f9fc;
  --background-secondary: #ffffff;
  --background-tertiary: #e5e7eb;

  --border-color: #e5e7eb;
  --border-color-medium: #d9d9d9;
  --border-color-dark: #6b7280;

  --border-radius: 1rem;
  --border-radius-small: 0.5rem;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-size: 1rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;

  --breakpoint-lg: 1280px;
  --breakpoint-md: 1024px;
  --breakpoint-sm: 768px;
  --breakpoint-xs: 576px;
}
