.base-accordion-item {
  background-color: var(--background-tertiary);
  border-radius: var(--border-radius-small);
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid var(--border-color-medium);
  background-color: var(--background-tertiary);

  &--open {
    background-color: var(--background-secondary);
    border: 1px solid var(--border-color-dark);
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    gap: 1rem;
    transition: background-color 0.2s ease;
  }

  &__title {
    font-size: 1rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-dark);
    line-height: 140%;
    flex: 1;
  }

  &__icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    color: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    &--open {
      transform: rotate(180deg);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    &--open {
      max-height: 500px;
    }
  }

  &__body {
    padding: 0 1rem 1rem 1rem;
    font-size: 1rem;
    color: var(--text-dark);
    line-height: 140%;
  }
}
