.vehicle-filters {
  gap: 1rem;
  padding: 1rem 2.1875rem 1rem 1.3125rem;
  display: flex;
  align-items: center;
  height: 72px;

  &__fields {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    height: 100%;
  }

  &__field {
    position: relative;

    &--price {
      display: flex;
      align-items: center;
      gap: 0.625rem;

      :deep(.base-input__field) {
        width: 80px;
      }
    }
  }

  &__separator {
    color: var(--bs-text-tertiary);
    font-size: 0.875rem;
  }

  &__button {
    flex-shrink: 0;
    min-width: 135px;
    margin: 0 0 0 auto;
  }
}

@media (max-width: 1024px) {
  .vehicle-filters {
    flex-direction: column;
    height: auto;
    padding: 1.5rem 1rem;

    &__fields {
      gap: 0.5rem;
      flex-wrap: wrap;
    }

    &__button {
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .vehicle-filters {
    flex-direction: column;
    align-items: stretch;

    &__field {
      width: 100%;
    }

    &__button {
      width: 100%;
    }
  }
}
