.vehicle-filters {
  gap: 1.25rem;
  padding: 0 2.1875rem 0 1.3125rem;
  display: flex;
  align-items: center;
  height: 72px;

  &__field {
    &--price {
      display: flex;
      align-items: center;
      gap: 0.625rem;
    }
  }

  &__separator {
    color: var(--bs-text-tertiary);
    font-size: 0.875rem;
  }

  &__button {
    flex-shrink: 0;
    min-width: 120px;
  }
}

@media (max-width: 991.98px) {
  .vehicle-filters {
    &__field {
      min-width: 120px;
    }
  }
}

@media (max-width: 575.98px) {
  .vehicle-filters {
    flex-direction: column;
    align-items: stretch;

    &__field {
      width: 100%;
    }

    &__button {
      width: 100%;
    }
  }
}
