.base-input {
  display: flex;
  align-items: center;
  gap: 0.875rem;

  &__label {
    font-size: 0.875rem;
    color: var(--text-tertiary);
    white-space: nowrap;
  }

  &__field {
    padding: 0.75rem;
    height: 36px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    background-color: #ffffff;
    font-size: 0.875rem;
    color: var(--text-primary);
    transition: border-color 0.2s ease;
    display: flex;

    &:focus {
      outline: none;
      border-color: var(--primary);
    }

    &:disabled {
      background-color: var(--background-tertiary);
      cursor: not-allowed;
      opacity: 0.6;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }
  }
}
