.app-footer {
  background-color: var(--background-secondary);
  height: 80px;
  border-top: 1px solid var(--border-color);
  display: flex;
  align-items: center;

  &__text {
    font-size: 0.875rem;
    color: var(--text-tertiary);
    margin: 0;
  }
}
