.home-details {
  margin-bottom: 2.875rem;

  &__title {
    font-size: 1.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    margin-bottom: 1.3125rem;
    line-height: 100%;
  }

  &__intro {
    font-size: 1rem;
    color: var(--text-primary-light);
    margin-bottom: 2rem;
    line-height: 1.6;
  }
}

@media (max-width: 1024px) {
  .home-details {
    &__title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .home-details {
    &__title {
      font-size: 1.75rem;
    }

    &__intro {
      font-size: 0.9375rem;
    }
  }
}
