.app-navigation {
  height: 72px;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-secondary);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}
