.home-cta {
  margin-bottom: 2.625rem;

  &__banner {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 1rem 2rem 1rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: 120px;
  }

  &__title {
    font-size: 1.375rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-light);
    margin: 0;
  }

  &__button {
    flex-shrink: 0;
    width: 256px;
  }
}

@media (max-width: 991.98px) {
  .home-cta {
    &__banner {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      height: 180px;
      gap: 1rem;
    }

    &__title {
      font-size: 2rem;
    }
  }
}

@media (max-width: 575.98px) {
  .home-cta {
    &__title {
      font-size: 1.5rem;
    }
  }
}
