.home-header {
  position: relative;
  margin: 2rem 0 2.5rem 0;

  &__title {
    font-size: 2.75rem;
    font-weight: 700;
    color: var(--bs-text-primary);
    margin-bottom: 0.75rem;
    line-height: 100%;
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--bs-text-primary-light);
    margin-bottom: 0.85rem;
    line-height: 100%;
  }

  &__text {
    font-size: 1rem;
    color: var(--bs-text-tertiary);
    line-height: 100%;
    margin: 0;
  }

  &__button {
    margin-top: 2rem;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 364px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
}

@media (max-width: 991.98px) {
  .home-header {
    padding: 2rem 0;

    &__title {
      font-size: 2rem;
    }

    &__subtitle {
      font-size: 1.125rem;
    }

    &__image-wrapper {
      margin-top: 2rem;
      min-height: 300px;
    }
  }
}
