.home-header {
  position: relative;
  margin: 2rem 0 2.5rem 0;

  &__card {
    display: flex;
    gap: 2.25rem;
  }

  &__title {
    font-size: 2.75rem;
    font-weight: var(--font-weight-bold);
    color: var(--text-primary);
    font-family: var(--font-secondary);
    margin-bottom: 0.75rem;
  }

  &__subtitle {
    font-size: 1rem;
    color: var(--text-primary-light);
    margin-bottom: 0.85rem;
  }

  &__text {
    font-size: 1rem;
    color: var(--text-tertiary);
    margin: 0;
  }

  &__button {
    margin-top: 2rem;
  }

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 364px;
    width: 100%;
    max-width: 582px;
    flex-shrink: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }
}

@media (max-width: 1280px) {
  .home-header {
    &__title {
      font-size: 2.25rem;
    }

    &__content {
      width: 50%;
    }

    &__image-wrapper {
      max-width: 50%;
    }
  }
}

@media (max-width: 1024px) {
  .home-header {
    &__card {
      flex-direction: column;
    }

    &__content,
    &__image-wrapper {
      width: 100%;
      max-width: 100%;
      height: auto;
      min-height: auto;
    }
  }
}

@media (max-width: 576px) {
  .home-header {
    &__title {
      font-size: 1.5rem;
    }
  }
}
